@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap');

:root {
    --nav-purple: #4040F2;
    --sub-purple: rgba(64, 64, 242, 0.4);
    --gray: #d9d9d9bf;
    --nav-color: rgba(79, 91, 103, 1);
    --white: #fff;
    --black: #000;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
}


/* ASIDEBAR */
.asidebar {
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--white);
    width: 240px;
    height: 100vh;
}

/* LOGO */
.logo {
    width: 100%;
    height: 81px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.logo img {
    width: 46px;
}

.logo h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
}

/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.navbar ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.navbar ul li a {
    padding: 12px 20px 12px 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 18px;
    color: var(--nav-color);
    cursor: pointer;
}

.navbar ul li:hover a {
    border-right: 4px solid var(--nav-purple);
    background-color: #F7F7FB;
    color: #0D0D54;
}

.navbar ul li:hover img {
    filter: invert(28%) sepia(72%) saturate(10011%) hue-rotate(237deg) brightness(93%) contrast(105%);
}



/* SECOND NAVBAR */
.navbar-help {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.navbar-help ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
    font-family: "Poppins", sans-serif;
}

.navbar-help ul li a {
    padding: 12px 20px 12px 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 18px;
    color: var(--nav-color);
    cursor: pointer;
}

.navbar-help ul li:hover a {
    border-right: 4px solid var(--nav-purple);
    background-color: #F7F7FB;
    color: #0D0D54;
}

.navbar-help ul li:hover img {
    filter: invert(28%) sepia(72%) saturate(10011%) hue-rotate(237deg) brightness(93%) contrast(105%);
}

/* PROFILE CARD */
.profile-card a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px 24px;
    gap: 15px;
    height: 92px;
}

.profile-card-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Poppins';
    color: #4F5B67;
    text-align: center;
    cursor: pointer;
}

.profile-card-info span {
    font-weight: 500;
    font-size: 16px;
}

.profile-card-info p {
    font-weight: 400;
    font-size: 14px;
}

.profile-card:hover .profile-card-info {
    color: #0D0D54;
}

.profile-card:hover {
    border-right: 4px solid var(--nav-purple);
    background-color: #F7F7FB;
}


/* MAIN */
.main {
    width: 1520px;
    height: 1000px;
    background-color: var(--white);
    margin-left: 248px;
    border-radius: 8px;
    padding: 83px 88px;
}

.page-info {
    display: flex;
    align-items: center;
    gap: 13px;
    font-size: 32px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
}

.page-info img {
    width: 48px;
    filter: invert(28%) sepia(72%) saturate(10011%) hue-rotate(237deg) brightness(93%) contrast(105%);
}

table {
    margin-top: 4rem;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-weight: bold;
}
table thead th {
    margin-bottom: 1rem;
}
table thead tr{
    display: flex;
    align-items: center;
    gap: 20px;
}

table tbody {
    display: flex;
    gap: 20px;
}

table tbody tr {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

table tbody tr td {
    width: 150px;
    padding: 20px;
    text-align: center;
}

table tbody tr td:first-child {
    border-radius: 8px 8px 0 0;
}

table tbody tr td:last-child {
    border-radius: 0 0 8px 8px;
    border-bottom: none;
    
}

table tbody tr td:hover {
    opacity: .8;
    cursor: pointer;
}

.row-purple td {
    background-color: rgb(64, 64, 242, 35%);
    border-bottom: 1px solid var(--nav-purple);
    
}

.column-purple {
    width: 150px;
    padding: 20px;
    background-color: rgb(64, 64, 242, 35%);
    border-radius: 8px;
}


.row-red td {
    background: rgb(243, 103, 103, 35%);
    border-bottom: 1px solid #F36767;
    
}

.column-red {
    background: rgb(243, 103, 103, 35%);
    width: 150px;
    padding: 20px;
    border-radius: 8px;
}

.column-green {
    background: #98FFBE;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 150px;
    padding: 20px;
    border-radius: 8px;
}



.row-green td{
    background: #98FFBE;
    border-bottom: 1px solid rgb(16, 107, 50);
}

.column-yellow {
    background-color: rgb(253, 212, 0, 35%);
    width: 150px;
    padding: 20px;
    border-radius: 8px;
}


.row-yellow td{
    background-color: rgb(253, 212, 0, 35%);
    border-bottom: 1px solid rgb(133, 114, 14, 75%);
}

.column-orange {
    background-color: rgb(241, 155, 73, 35%);
    width: 150px;
    padding: 20px;
    border-radius: 8px;
}
.row-orange td{
    background-color: rgb(241, 155, 73, 35%);
    border-bottom: 1px solid rgb(241, 155, 73, 75%);

}